/* pt-sans-regular - latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/pt-sans-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('PT Sans'), local('PTSans-Regular'),
       url('fonts/pt-sans-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/pt-sans-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/pt-sans-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/pt-sans-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/pt-sans-v11-latin-regular.svg#PTSans') format('svg'); /* Legacy iOS */
}

/* pt-sans-italic - latin */
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/pt-sans-v11-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('PT Sans Italic'), local('PTSans-Italic'),
       url('fonts/pt-sans-v11-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/pt-sans-v11-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/pt-sans-v11-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('fonts/pt-sans-v11-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/pt-sans-v11-latin-italic.svg#PTSans') format('svg'); /* Legacy iOS */
}

/* pt-sans-700italic - latin */
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  src: url('fonts/pt-sans-v11-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'),
       url('fonts/pt-sans-v11-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/pt-sans-v11-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/pt-sans-v11-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('fonts/pt-sans-v11-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/pt-sans-v11-latin-700italic.svg#PTSans') format('svg'); /* Legacy iOS */
}

/* pt-sans-700 - latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/pt-sans-v11-latin-700.eot'); /* IE9 Compat Modes */
  src: local('PT Sans Bold'), local('PTSans-Bold'),
       url('fonts/pt-sans-v11-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/pt-sans-v11-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/pt-sans-v11-latin-700.woff') format('woff'), /* Modern Browsers */
       url('fonts/pt-sans-v11-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/pt-sans-v11-latin-700.svg#PTSans') format('svg'); /* Legacy iOS */
}


/* pt-sans-narrow-regular - latin */
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/pt-sans-narrow-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('PT Sans Narrow'), local('PTSans-Narrow'),
       url('/fonts/pt-sans-narrow-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/pt-sans-narrow-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/pt-sans-narrow-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/pt-sans-narrow-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/pt-sans-narrow-v11-latin-regular.svg#PTSansNarrow') format('svg'); /* Legacy iOS */
}

/* pt-sans-narrow-700 - latin */
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/pt-sans-narrow-v11-latin-700.eot'); /* IE9 Compat Modes */
  src: local('PT Sans Narrow Bold'), local('PTSans-NarrowBold'),
       url('/fonts/pt-sans-narrow-v11-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/pt-sans-narrow-v11-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/pt-sans-narrow-v11-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/fonts/pt-sans-narrow-v11-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/pt-sans-narrow-v11-latin-700.svg#PTSansNarrow') format('svg'); /* Legacy iOS */
}


html {
font-size: 100%
}


div {
background-color:  #E2EAEF;
padding-top: 2em;
padding-left: 2.5em;
border-bottom: 1px solid #A7C8D4;
}



body {
background-color: #FFFFFF;
margin: 0px;
margin-right: 5px;
padding-top: 3em; /*baja el comienzo del texto par que no se choque con la barra*/

font-family: PT Sans, Montserrat, Verdana, sans-serif;;

overflow-y: scroll; 
-webkit-scrollbar {
  display: none;
}
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}




p {
  position: static;
}

nav {
  margin: 0px;
  margin-left: 0px;
  margin-right: 0px;
  font-size: 1.2em;
}

.active {
  background-color: #286E85; /*457A8A 3B7385 316C80*/
}

.listas {
    font-size: 1.2em;
    content: "•";
    color:  black;
    margin-left: 1.8em ;
        text-align:justify;  
    text-justify:inter-word;
    line-height:calc(100% + 0.7vw);
       margin-top: 0em;

}

.listascolor {
    font-size: 1.2em;
    content: "•";
    color:  #176580;
}


.comentario {
    font-size: 0.9em;
    color:#455154;
    line-height:calc(110% + 0.6vw);
    text-align:justify;      
    hyphens: auto;
    text-justify:inter-word;    
    margin: 0.75em ;
    margin-top: 0.45em;
    text-indent: 0px;
        margin-bottom: 1.1em; 
}

a {
    /*font-size: 7.9em;*/
    color:  #3A6674;
    text-decoration: none; 
}


nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: auto;
  background-color: #30373A;
  position: fixed;
  top: 0;
  width: 100%;  
}

nav li {
   float: left;
   min-width: 120px;
   max-width: 240px;
   font-weight: bold;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 15px;  
  font-size: 1em;
  text-decoration: none;
}

nav ul li:last-child {
  float: right;
  font-weight: normal;
  min-width: 160px;   /* minimo real 155 */
}

nav li a:hover:not(.active) {
  background-color: #2A3033;
    text-decoration: none;
  font: PT Sans;
  transition: all 0.4s ease;
}




@media  screen and (max-height: 850px) {
nav ul {
  position: absolute;
}
}


@media screen and (max-width: 550px) {

body{
font-family: PT Sans Narrow;
}
h1, h2, h3, h4, h5, h6 {
    margin: 12px ;
}

.listas {
    margin-left: 0.25em ;
        text-align:justify;  
    text-justify:inter-word;
    line-height:calc(100% + 0.7vw);
       margin-top: 0em;
}
div {
background-color:  #E2EAEF;
padding-top: 2em;
padding-left: 	0.5em;
border-bottom: 1px solid #058a9133;
}

div p {
   min-width: 110px;
   text-indent: 0px;   
}
.comentario {  
    margin: 0.25em ;
    text-indent: 0px;
}






}

@media screen and (max-width: 420px) {

nav li {
   min-width: 110px;
   max-width: 200px;
}



}

@media screen and (max-width: 360px) {
nav li {
   min-width: 90px;
   max-width: 180px;
}
}


@media screen and (max-width: 355px) {
body {
padding-top: 10.0em; /*baja el comienzo del texto par que no se choque con la barra*/
}
nav li {
  float: none;
  display: block;
   min-width: 120px;
   max-width: 355px;
}
nav li a {
  display: block;
}
nav ul li:last-child {
  float: none
}
}




img {
	max-width: 100%;
}

table {
	border-collapse: collapse;
	width: 100%;
}

table, th, td {
	border: 1px solid #EAEAEA;
	border-radius: 3px;
	padding: 5px;
}

tr:nth-child(even) {
	background-color: #F8F8F8;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin: 0.75em ;
    text-align:left;
}

h1 {
    color: #000000;
    font-size: 2.6em;
}

h2 {
    border-bottom: 1px solid #CCCCCC;
    color: #000000;
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
    margin-top: 1em;
}

h4 {
    font-size: 1.2em;
    margin-top: 1em;
}

h5 {
    font-size: 1.05em;
}

h6 {
    color: #777777;
    background-color: inherit;
    font-size: 1.05em;
}

hr {
    height: 0.25em;
    border: 0;
    color: #CCCCCC;
    background-color: #CCCCCC;
}


blockquote, ul, ol, dl, li, table, pre {
    margin: 0px 0;
    text-align:justify;
    font-size: 1.0em;          
}


p {
    margin: 12px ;
    text-indent: 15px;
    text-align:justify;  
    text-justify:inter-word;
    line-height:calc(120% + 0.7vw);   /*160% */
    hyphens: auto;
    font-size: 1.2em;    
}





code, pre {
    border-radius: 3px;
    background-color: #F8F8F8;
    color: inherit;
}

code {
    border: 1px solid #EAEAEA;
    margin: 0 2px;
    padding: 0 5px;
}



/*
a, a:visited {
    color: #4183C4;
    background-color: inherit;
    text-decoration: none;
}


*/



