/* pt-sans-regular - latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/pt-sans-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('PT Sans'), local('PTSans-Regular'),
       url('fonts/pt-sans-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/pt-sans-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/pt-sans-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/pt-sans-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/pt-sans-v11-latin-regular.svg#PTSans') format('svg'); /* Legacy iOS */
}

/* pt-sans-italic - latin */
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/pt-sans-v11-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('PT Sans Italic'), local('PTSans-Italic'),
       url('fonts/pt-sans-v11-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/pt-sans-v11-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/pt-sans-v11-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('fonts/pt-sans-v11-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/pt-sans-v11-latin-italic.svg#PTSans') format('svg'); /* Legacy iOS */
}

/* pt-sans-700italic - latin */
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  src: url('fonts/pt-sans-v11-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'),
       url('fonts/pt-sans-v11-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/pt-sans-v11-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/pt-sans-v11-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('fonts/pt-sans-v11-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/pt-sans-v11-latin-700italic.svg#PTSans') format('svg'); /* Legacy iOS */
}

/* pt-sans-700 - latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/pt-sans-v11-latin-700.eot'); /* IE9 Compat Modes */
  src: local('PT Sans Bold'), local('PTSans-Bold'),
       url('fonts/pt-sans-v11-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/pt-sans-v11-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/pt-sans-v11-latin-700.woff') format('woff'), /* Modern Browsers */
       url('fonts/pt-sans-v11-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/pt-sans-v11-latin-700.svg#PTSans') format('svg'); /* Legacy iOS */
}


/* pt-sans-narrow-regular - latin */
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/pt-sans-narrow-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('PT Sans Narrow'), local('PTSans-Narrow'),
       url('/fonts/pt-sans-narrow-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/pt-sans-narrow-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/pt-sans-narrow-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/pt-sans-narrow-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/pt-sans-narrow-v11-latin-regular.svg#PTSansNarrow') format('svg'); /* Legacy iOS */
}

/* pt-sans-narrow-700 - latin */
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/pt-sans-narrow-v11-latin-700.eot'); /* IE9 Compat Modes */
  src: local('PT Sans Narrow Bold'), local('PTSans-NarrowBold'),
       url('/fonts/pt-sans-narrow-v11-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/pt-sans-narrow-v11-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/pt-sans-narrow-v11-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/fonts/pt-sans-narrow-v11-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/pt-sans-narrow-v11-latin-700.svg#PTSansNarrow') format('svg'); /* Legacy iOS */
}


html {
font-size: 100%
}


ul li{
 font-size: 1em;
}

div {
background-color:  #058a911f;
padding-top: 2em;
padding-left: 2.5em;
border-bottom: 1px solid #058a9133;
}



body {
background-color: #f4f4f4;
margin: 0px;
margin-right: 5px;
padding-top: 3em; /*baja el comienzo del texto par que no se choque con la barra*/

font-family: PT Sans, Montserrat, Verdana, sans-serif;;

overflow-y: scroll; 
-webkit-scrollbar {
  display: none;
}
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}


p {
  position: static;
}

.verbatim {
  #font-family: Consolas,"courier new";
  color: #000000;
  background-color: #058a911f; ##f1f1f1;
  padding: 0.15em;
  font-size: 1.2em;
}

nav {
  margin: 0px;
  margin-left: 0px;
  margin-right: 0px;
  font-size: 1.2em;
}

.active {
  background-color: #058a9199; /* CONSULTAR A CHON*/
}

.listas {
    font-size: 1.2em;
    content: "•";
    color:  black;
    margin-left: 1.8em ;
    text-align:justify;  
    text-justify:inter-word;
    line-height:calc(100% + 0.7vw);
    margin-top: 0em;
}

.listascolor {
    font-size: 1.2em;
    content: "•";
    color:  #02767c;
}

.comentario {
    font-size: 0.9em;
    color:#606060;
    line-height:calc(110% + 0.6vw);
    text-align:justify;      
    hyphens: auto;
    text-justify:inter-word;    
    margin: 0.75em ;
    margin-top: 0.45em;
    text-indent: 0px;
        margin-bottom: 1.1em; 
}



a {
    /*font-size: 7.9em;*/
    color:  #02767c;
    text-decoration: none; 
}




nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: auto;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 0.13em 0.26em -0.065px rgba( 0, 0, 0, 0.3);
     z-index: +2;
}

nav li {
   float: left;
   min-width: 120px;
   max-width: 240px;
   font-weight: bold;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 15px;  
  font-size: 1em;
  text-decoration: none;
}

nav ul li:last-child {
  float: right;
  font-weight: normal;
  min-width: 160px;   /* minimo real 155 */
}

nav li a:hover:not(.active) {
  background-color: #111;
    text-decoration: none;
  font: PT Sans;
  transition: all 0.4s ease;
}


 /* BOTONES PARA CONTENIDO COLAPSABLE */
.collapsible {
  background-color: #058a9140;
  margin-bottom: 0.75em;
  /*margin-left: +0.50em;*/
  cursor: pointer;
  color: #606060;
  padding: 1em;
  width:100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 0.8em;
  
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active .collapsible:hover {
  background-color: #058a91;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 1em;
  margin-top: -0.75em; /*debe ser igual a   margin-bottom: de .collapsible
  /*width: 100%;*/
  display: none;
  color: #606060;
  overflow: hidden;
  background-color: #91048a14;
  border: none;
  font-size: 0.8em;
  box-shadow: 0 0.13em 0.26em -0.065px rgba( 0, 0, 0, 0.15) inset;  
} 
 /*rojo#ff554c aguamarina#058a91*/

 :root {
    --red: #ff00ff;
}

etiqueta {
    font-size: 0.7em;
    color: #505050;
    padding: 0.1em 0.3em;
    margin-left: 0.5em;
    margin-right: 0.1em;
}
.level-pregrad{
    background-color: #058a9199;

}
.level-grad{
background-color: #ec760099;

}
.level-postgrad{
background-color: #ff554c99;
}


#toc_container {
    background: #f4f4f4 none repeat scroll 0 0;
    border: 2px solid #aaa;
    display: table;
    font-size: 1.2em;
    margin-bottom: 1em;
        margin-top: 0em;
    margin: 2em;
    padding: 2em;
    width: auto;
}

.toc_title {
    font-size: 1.2em;
    font-weight: bold;
    text-align: left;
}

#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: outside none none !important;
    
}














@media  screen and (max-height: 850px) {
nav ul {
  position: absolute;
}
}


@media screen and (max-width: 550px) {

body{
font-family: PT Sans Narrow;
}
h1, h2, h3, h4, h5, h6 {
    margin: 12px ;
}

.listas {
    margin-left: 0.25em ;
    text-align:justify;  
    text-justify:auto;
    hyphens: auto;    
    line-height:calc(100% + 0.7vw);
    margin-top: 0em;
}
div {
background-color:  #058a911f;
padding-top: 2em;
padding-left: 	0.5em;
border-bottom: 1px solid #058a9133;
}

div p {
   min-width: 110px;
   text-indent: 0px;   
}
.comentario {  
    margin: 0.25em ;
    text-indent: 0px;
}


.collapsible {
padding : 0.75em;
}
.content {
  padding: 0 1em;
}


}

@media screen and (max-width: 420px) {

nav li {
   min-width: 110px;
   max-width: 200px;
}



}

@media screen and (max-width: 360px) {
nav li {
   min-width: 90px;
   max-width: 180px;
}
}


@media screen and (max-width: 355px) {
body {
padding-top: 10.0em; /*baja el comienzo del texto par que no se choque con la barra*/
}
nav li {
  float: none;
  display: block;
   min-width: 120px;
   max-width: 355px;
}
nav li a {
  display: block;
}
nav ul li:last-child {
  float: none
}
}




img {
	max-width: 100%;
}

table {
	border-collapse: collapse;
	width: 100%;
}

table, th, td {
	border: 1px solid #EAEAEA;
	border-radius: 3px;
	padding: 5px;
}

tr:nth-child(even) {
	background-color: #F8F8F8;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin: 0.75em ;
    text-align:left;
}

h1 {
    color: #000000;
    font-size: 2.6em;
}

h2 {
   border-bottom: 0.09em solid #036f75bd;
    color: #111111;
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
    margin-top: 1em;
}

h4 {
    font-size: 1.2em;
    margin-top: 1em;
}

h5 {
    font-size: 1.05em;
}

h6 {
    color: #777777;
    background-color: inherit;
    font-size: 1.05em;
}

hr {
    height: 0.15em;
    border: 0;
    color: #CCCCCC;
    background-color: #CCCCCC;
}

.lineayespacio {
    margin-left: 0.25em ;
    text-align:justify;  
    margin-top: 3em;
    margin-bottom: 5em;    
}



blockquote, ul, ol, dl, li, table, pre {
    margin: 0px 0;
    text-align:justify;
    font-size: 1.0em;          
}


p {
    margin: 12px ;
    text-indent: 15px;
    text-align:justify;  
    text-justify:inter-word;
    line-height:calc(120% + 0.7vw);   /*160% */
    hyphens: auto;
    font-size: 1.2em;    
}





code, pre {
    border-radius: 3px;
    background-color: #F8F8F8;
    color: inherit;
}

code {
    border: 1px solid #EAEAEA;
    margin: 0 2px;
    padding: 0 5px;
}



/*
a, a:visited {
    color: #4183C4;
    background-color: inherit;
    text-decoration: none;
}


*/



